<%= form_with(model: mental_post, local: true) do |form| %>
  <% if mental_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mental_post.errors.count, "error") %> prohibited this mental_post from being saved:</h2>

      <ul>
      <% mental_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class:"btn btn-success" %>
  </div>
<% end %>
