

<p>
  <strong>Title:</strong>
  <%= @mental_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mental_post.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @mental_post.user.email %>
</p>

<%= link_to 'Edit', edit_mental_post_path(@mental_post), :class => 'btn btn-outline-primary' %> |
<%= link_to 'Back', mental_posts_path, :class => 'btn btn-outline-primary' %>
