<%= form_with(model: user_daily_questionnaire, local: true) do |form| %>
  <% if user_daily_questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_daily_questionnaire.errors.count, "error") %> prohibited this user_daily_questionnaire from being saved:</h2>

      <ul>
      <% user_daily_questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<b>Wednesday, Thusday and Friday Questionnaire</b>
<br>
  <%if UserDailyQuestionnaire.where(user: current_user, questionnaire_date: Date.today).first == nil%>
    <b> Current Location is not available, please set a location!
  <% else %>
    <b> Current Location: 
    <%= @current_location%>
  <%end%>

  <div class="field">
    <%= form.label :user_mood %>
    <%= form.radio_button :user_mood, '1' %> 1<br />
    <%= form.radio_button :user_mood, '2' %> 2<br />
    <%= form.radio_button :user_mood, '3' %> 3<br />
    <%= form.radio_button :user_mood, '4' %> 4<br />
    <%= form.radio_button :user_mood, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :duration_mins %>
    <%= form.radio_button :duration_mins, '15' %> 15<br />
    <%= form.radio_button :duration_mins, '30' %> 30<br />
    <%= form.radio_button :duration_mins, '60' %> 60<br />
  </div>

  <div class="field">
    <%= form.label :indoor_score %>
    <%= form.radio_button :indoor_score, '1' %> 1<br />
    <%= form.radio_button :indoor_score, '2' %> 2<br />
    <%= form.radio_button :indoor_score, '3' %> 3<br />
    <%= form.radio_button :indoor_score, '4' %> 4<br />
    <%= form.radio_button :indoor_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :outdoor_score %>
    <%= form.radio_button :outdoor_score, '1' %> 1<br />
    <%= form.radio_button :outdoor_score, '2' %> 2<br />
    <%= form.radio_button :outdoor_score, '3' %> 3<br />
    <%= form.radio_button :outdoor_score, '4' %> 4<br />
    <%= form.radio_button :outdoor_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :cardio_score %>
    <%= form.radio_button :cardio_score, '1' %> 1<br />
    <%= form.radio_button :cardio_score, '2' %> 2<br />
    <%= form.radio_button :cardio_score, '3' %> 3<br />
    <%= form.radio_button :cardio_score, '4' %> 4<br />
    <%= form.radio_button :cardio_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :strength_score %>
    <%= form.radio_button :strength_score, '1' %> 1<br />
    <%= form.radio_button :strength_score, '2' %> 2<br />
    <%= form.radio_button :strength_score, '3' %> 3<br />
    <%= form.radio_button :strength_score, '4' %> 4<br />
    <%= form.radio_button :strength_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :physicality_score %>
    <%= form.radio_button :physicality_score, '1' %> 1<br />
    <%= form.radio_button :physicality_score, '2' %> 2<br />
    <%= form.radio_button :physicality_score, '3' %> 3<br />
    <%= form.radio_button :physicality_score, '4' %> 4<br />
    <%= form.radio_button :physicality_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :mentality_score %>
    <%= form.radio_button :mentality_score, '1' %> 1<br />
    <%= form.radio_button :mentality_score, '2' %> 2<br />
    <%= form.radio_button :mentality_score, '3' %> 3<br />
    <%= form.radio_button :mentality_score, '4' %> 4<br />
    <%= form.radio_button :mentality_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :solo_score %>
    <%= form.radio_button :solo_score, '1' %> 1<br />
    <%= form.radio_button :solo_score, '2' %> 2<br />
    <%= form.radio_button :solo_score, '3' %> 3<br />
    <%= form.radio_button :solo_score, '4' %> 4<br />
    <%= form.radio_button :solo_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :team_score %>
    <%= form.radio_button :team_score, '1' %> 1<br />
    <%= form.radio_button :team_score, '2' %> 2<br />
    <%= form.radio_button :team_score, '3' %> 3<br />
    <%= form.radio_button :team_score, '4' %> 4<br />
    <%= form.radio_button :team_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :intensity_score %>
    <%= form.radio_button :intensity_score, '1' %> 1<br />
    <%= form.radio_button :intensity_score, '2' %> 2<br />
    <%= form.radio_button :intensity_score, '3' %> 3<br />
    <%= form.radio_button :intensity_score, '4' %> 4<br />
    <%= form.radio_button :intensity_score, '5' %> 5<br />
  </div>

  <div class="field">
    <%= form.label :duration_score %>
    <%= form.radio_button :duration_score, '1' %> 1<br />
    <%= form.radio_button :duration_score, '2' %> 2<br />
    <%= form.radio_button :duration_score, '3' %> 3<br />
    <%= form.radio_button :duration_score, '4' %> 4<br />
    <%= form.radio_button :duration_score, '5' %> 5<br />
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: "btn btn-primary"%>
  </div>
<% end %>
