<%= form_with(model: user_daily_questionnaire, local: true) do |form| %>
  <% if user_daily_questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_daily_questionnaire.errors.count, "error") %> prohibited this user_daily_questionnaire from being saved:</h2>

      <ul>
      <% user_daily_questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_mood %>
    <%= form.number_field :user_mood %>
  </div>

  <div class="field">
    <%= form.label :duration_mins %>
    <%= form.number_field :duration_mins %>
  </div>

  <div class="field">
    <%= form.label :duration_score %>
    <%= form.text_field :duration_score %>
  </div>

  <div class="field">
    <%= form.label :indoor_score %>
    <%= form.number_field :indoor_score %>
  </div>

  <div class="field">
    <%= form.label :outdoor_score %>
    <%= form.number_field :outdoor_score %>
  </div>

  <div class="field">
    <%= form.label :cardio_score %>
    <%= form.number_field :cardio_score %>
  </div>

  <div class="field">
    <%= form.label :strength_score %>
    <%= form.number_field :strength_score %>
  </div>

  <div class="field">
    <%= form.label :physicality_score %>
    <%= form.number_field :physicality_score %>
  </div>

  <div class="field">
    <%= form.label :mentality_score %>
    <%= form.number_field :mentality_score %>
  </div>

  <div class="field">
    <%= form.label :solo_score %>
    <%= form.number_field :solo_score %>
  </div>

  <div class="field">
    <%= form.label :team_score %>
    <%= form.number_field :team_score %>
  </div>

  <div class="field">
    <%= form.label :intensity_score %>
    <%= form.number_field :intensity_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
