<b> Please choose your current location
<%= form_with(url: show_weather_path, method: 'get', local: true) do %>
    <!-- <%= label_tag :city_name_param, 'Search for a city ' %>
    <%= select_tag :city_name_param, options_for_select(['London','Shanghai','Guildford']) %>
    <%= button_tag 'Search', class: 'btn btn-success btn-block', id: "btnSubmit" %> -->
    <select class="js-example-placeholder-single js-states form-control", id="city_name">
        <option value="London">London</option>
        <option value="Guildford">Guildford</option>
        <option value="Guildford">New York</option>
    </select>
    <input type='button' value='Search', id='button', class='btn btn-success btn-block'>
    <!-- <%= button_tag 'Search', class: 'btn btn-success btn-block', id: "btnSubmit" %>  -->
<% end %>
<div id="result"></div>
