<p id="notice"><%= notice %></p>

<h1>User Daily Questionnaires</h1>

<table>
  <thead>
    <tr>
      <th>Day of week</th>
      <th>Questionnaire date</th>
      <th>User mood</th>
      <th>Duration mins</th>
      <th>Duration score</th>
      <th>Indoor score</th>
      <th>Outdoor score</th>
      <th>Cardio score</th>
      <th>Strength score</th>
      <th>Physicality score</th>
      <th>Mentality score</th>
      <th>Solo score</th>
      <th>Team score</th>
      <th>Intensity score</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_daily_questionnaires.each do |user_daily_questionnaire| %>
      <tr>
        <td><%= user_daily_questionnaire.day_of_week %></td>
        <td><%= user_daily_questionnaire.questionnaire_date %></td>
        <td><%= user_daily_questionnaire.user_mood %></td>
        <td><%= user_daily_questionnaire.duration_mins %></td>
        <td><%= user_daily_questionnaire.duration_score %></td>
        <td><%= user_daily_questionnaire.indoor_score %></td>
        <td><%= user_daily_questionnaire.outdoor_score %></td>
        <td><%= user_daily_questionnaire.cardio_score %></td>
        <td><%= user_daily_questionnaire.strength_score %></td>
        <td><%= user_daily_questionnaire.physicality_score %></td>
        <td><%= user_daily_questionnaire.mentality_score %></td>
        <td><%= user_daily_questionnaire.solo_score %></td>
        <td><%= user_daily_questionnaire.team_score %></td>
        <td><%= user_daily_questionnaire.intensity_score %></td>
        <td><%= user_daily_questionnaire.location %></td>
        <td><%= link_to 'Show', user_daily_questionnaire %></td>
        <td><%= link_to 'Edit', edit_user_daily_questionnaire_path(user_daily_questionnaire) %></td>
        <td><%= link_to 'Destroy', user_daily_questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Daily Questionnaire', new_user_daily_questionnaire_path %>
