<p id="notice"><%= notice %></p>

<p>
  <strong>Day of week:</strong>
  <%= @user_daily_questionnaire.day_of_week %>
</p>

<p>
  <strong>Questionnaire date:</strong>
  <%= @user_daily_questionnaire.questionnaire_date %>
</p>

<p>
  <strong>User mood:</strong>
  <%= @user_daily_questionnaire.user_mood %>
</p>

<p>
  <strong>Duration mins:</strong>
  <%= @user_daily_questionnaire.duration_mins %>
</p>

<p>
  <strong>Duration score:</strong>
  <%= @user_daily_questionnaire.duration_score %>
</p>

<p>
  <strong>Indoor score:</strong>
  <%= @user_daily_questionnaire.indoor_score %>
</p>

<p>
  <strong>Outdoor score:</strong>
  <%= @user_daily_questionnaire.outdoor_score %>
</p>

<p>
  <strong>Cardio score:</strong>
  <%= @user_daily_questionnaire.cardio_score %>
</p>

<p>
  <strong>Strength score:</strong>
  <%= @user_daily_questionnaire.strength_score %>
</p>

<p>
  <strong>Physicality score:</strong>
  <%= @user_daily_questionnaire.physicality_score %>
</p>

<p>
  <strong>Mentality score:</strong>
  <%= @user_daily_questionnaire.mentality_score %>
</p>

<p>
  <strong>Solo score:</strong>
  <%= @user_daily_questionnaire.solo_score %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @user_daily_questionnaire.team_score %>
</p>

<p>
  <strong>Intensity score:</strong>
  <%= @user_daily_questionnaire.intensity_score %>
</p>

<%= link_to 'Edit', edit_user_daily_questionnaire_path(@user_daily_questionnaire) %> |
<%= link_to 'Back', user_daily_questionnaires_path %>
