<p>To HealthApplication,</p>
<p>Could you get in touch with me please?</p>
<dl>
  <dt>Name:</dt>
  <dd>
    <%= @name %>
  </dd>
  <dt>Email:</dt>
  <dd>
    <%= @email %>
  </dd>
  <dt>Telephone:</dt>
  <dd>
    <%= @telephone %>
  </dd>
  <dt>Message:</dt>
  <dd>
    <%= @message %>
  </dd>
</dl>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
