<p>To HealthApplication,</p>
<p>I would like to leave some feedback,</p>
<dl>
  <dt>Name:</dt>
  <dd>
    <%= @name %>
  </dd>
  <dt>Email:</dt>
  <dd>
    <%= @email %>
  </dd>
  <dt>Telephone:</dt>
  <dd>
    <%= @telephone %>
  </dd>
    <dt>Feedback Category:</dt>
  <dd>
    <%= @feedback_category %>
  </dd>
  <dt>Feedback:</dt>
  <dd>
    <%= @feedback %>
  </dd>
</dl>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
