<nav class="navbar fixed-top navbar-dark navbar-expand-lg" style='box-shadow: 0px -10px 50px grey;background-color:#00cb7d'>
  <div class="container-fluid">
    <%= link_to 'Health App', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Daily Recommendations', daily_recommendations_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Physical Health', posts_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Mental Health', mental_posts_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Chatroom', '/chatroom', class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Change Location', check_weather_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Provide Feedback', feedback_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Contact Us', contact_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'About Us', about_us_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Weight Diary', weight_diaries_path, class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Sign-Up Questionnaire', '/user_data', class:'nav-link active' %>
        </li>
        <li class="nav-item" style='font-weight: 600'>
        <%= link_to 'Daily Questionnaires', '/user_daily_questionnaires', class:'nav-link active' %>
        </li>
      </ul>
      <ul class="navbar-nav float-right", style="margin-left:auto;">
        <% if user_signed_in? %>
          <li>
          <%if current_user.avatar.attached? %>
            <%= image_tag url_for(current_user.avatar), class:"rounded-circle", size: 40 %>
          <%else%>
          <%#  Default image referenced from https://www.business2community.com/social-media/importance-profile-picture-career-01899604%>
            <%= image_tag("default_profile", height:40, width: 40, class: 'rounded-circle')%>
          <%end%>
          </li>
          <li class="nav-item ">
            <%= link_to "Profile", edit_user_registration_path, class:"nav-link active" %>
          </li>
          <li class="nav-item ">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link active" %>
          </li>
        <% else %>
          <li class="nav-item ">
            <%= link_to "Sign up", new_user_registration_path, class:"nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
