<%= form_with(model: feedback_questionnaire, local: true) do |form| %>
  <% if feedback_questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback_questionnaire.errors.count, "error") %> prohibited this feedback_questionnaire from being saved:</h2>

      <ul>
      <% feedback_questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<b>Wednesday Feedback Questionnaire</b>
<br>
<b>How do you feel at the end of the day?</b>

  <div class="field">
    <%= form.label :user_satisfaction %>
    <%= form.number_field :user_satisfaction %>
  </div>

  <div class="field">
    <%= form.label :soreness_level %>
    <%= form.number_field :soreness_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
