<%= form_with(model: user_datum, local: true) do |form| %>
  <% if user_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_datum.errors.count, "error") %> prohibited this user data questionnaire from being saved:</h2>

      <ul>
      <% user_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :height %>
    <%= label_tag(:height, "What is your height(cm)?") %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <% form.label :weight %>
    <%= label_tag(:weight, "What is your weight?(kg)") %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <% form.label :age %>
    <%= label_tag(:age, "How old are you?") %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <% form.label :gender %>
    <%= label_tag(:gender, "Gender") %>
    <%= form.select :gender, ['Male', 'Female','Other']%>

  </div>

  <div class="field">
    <% form.label :athletic_lvl %>
    <%= label_tag(:athletic_lvl, "How athletic are you?") %>
     <%= form.select :athletic_lvl, ['Beginner', 'Intermediate','Advanced']%>
  </div>

  <%= label_tag("Which aspect of your health would you like to improve?") %>
  <br/>
  <div class="field">
    <% form.label :physical %>
    <%= label_tag(:physical, "Physical") %>
    <%= form.check_box :physical %>
  </div>

  <div class="field">
    <% form.label :mental %>
    <%= label_tag(:mental, "Mental") %>
    <%= form.check_box :mental %>
  </div>

  <div class="field">
    <% form.label :indoor_score %>
    <%= label_tag(:indoor_score, "How much do you like indoor activities?") %>
    <%= form.radio_button :indoor_score, '1' %> 1<br />
    <%= form.radio_button :indoor_score, '2' %> 2<br />
    <%= form.radio_button :indoor_score, '3' %> 3<br />
    <%= form.radio_button :indoor_score, '4' %> 4<br />
    <%= form.radio_button :indoor_score, '5' %> 5<br />

  </div>


  <div class="field">
    <% form.label :outdoor_score %>
    <%= label_tag(:outdoor_score, "How much do you like outdoor activities?") %>
    <%= form.radio_button :outdoor_score, '1' %> 1<br />
    <%= form.radio_button :outdoor_score, '2' %> 2<br />
    <%= form.radio_button :outdoor_score, '3' %> 3<br />
    <%= form.radio_button :outdoor_score, '4' %> 4<br />
    <%= form.radio_button :outdoor_score, '5' %> 5<br />
  </div>

  <div class="field">
      <% form.label :cardio_score %>
      <%= label_tag(:cardio_score, "How much do you like cardio?") %>
      <%= form.radio_button :cardio_score, '1' %> 1<br />
      <%= form.radio_button :cardio_score, '2' %> 2<br />
      <%= form.radio_button :cardio_score, '3' %> 3<br />
      <%= form.radio_button :cardio_score, '4' %> 4<br />
      <%= form.radio_button :cardio_score, '5' %> 5<br />
  </div>
  <div class="field">
    <% form.label :strength_score %>
    <%= label_tag(:strength_score, "How much do you like strength activities?") %>
    <%= form.radio_button :strength_score, '1' %> 1<br />
    <%= form.radio_button :strength_score, '2' %> 2<br />
    <%= form.radio_button :strength_score, '3' %> 3<br />
    <%= form.radio_button :strength_score, '4' %> 4<br />
    <%= form.radio_button :strength_score, '5' %> 5<br />
  </div>
  <div class="field">
    <% form.label :physicality_score %>
    <%= label_tag(:physicality_score, "How interested are you in physical activities?") %>
    <%= form.radio_button :physicality_score, '1' %> 1<br />
    <%= form.radio_button :physicality_score, '2' %> 2<br />
    <%= form.radio_button :physicality_score, '3' %> 3<br />
    <%= form.radio_button :physicality_score, '4' %> 4<br />
    <%= form.radio_button :physicality_score, '5' %> 5<br />
  </div>
  <div class="field">
    <% form.label :mentality_score %>
    <%= label_tag(:mentality_score, "How interested are you in mental activities?") %>
    <%= form.radio_button :mentality_score, '1' %> 1<br />
    <%= form.radio_button :mentality_score, '2' %> 2<br />
    <%= form.radio_button :mentality_score, '3' %> 3<br />
    <%= form.radio_button :mentality_score, '4' %> 4<br />
    <%= form.radio_button :mentality_score, '5' %> 5<br />
  </div>
  <div class="field">
    <% form.label :solo_score %>
    <%= label_tag(:solo_score, "How much do you like doing activities on your own?") %>
    <%= form.radio_button :solo_score, '1' %> 1<br />
    <%= form.radio_button :solo_score, '2' %> 2<br />
    <%= form.radio_button :solo_score, '3' %> 3<br />
    <%= form.radio_button :solo_score, '4' %> 4<br />
    <%= form.radio_button :solo_score, '5' %> 5<br />
  </div>
  <div class="field">
    <% form.label :team_score %>
    <%= label_tag(:team_score, "How much do you like doing activities with others?") %>
    <%= form.radio_button :team_score, '1' %> 1<br />
    <%= form.radio_button :team_score, '2' %> 2<br />
    <%= form.radio_button :team_score, '3' %> 3<br />
    <%= form.radio_button :team_score, '4' %> 4<br />
    <%= form.radio_button :team_score, '5' %> 5<br />
  </div>
  <div class="field">
    <% form.label :intensity_score %>
    <%= label_tag(:intensity_score, "How intense would you like your activities to be?") %>
    <%= form.radio_button :intensity_score, '1' %> 1<br />
    <%= form.radio_button :intensity_score, '2' %> 2<br />
    <%= form.radio_button :intensity_score, '3' %> 3<br />
    <%= form.radio_button :intensity_score, '4' %> 4<br />
    <%= form.radio_button :intensity_score, '5' %> 5<br />
  </div>


  <div class="field">
    <% form.label :frequency_pref %>
    <%= label_tag(:frequency_pref, "How many days per week are you able to do the activities going to be suggested to you?") %>
    <%= form.select :frequency_pref, ['1-2 days', '3-5 days','6-7 days']%>

  </div>

  <div class="field">
    <% form.label :duration_pref %>
    <%= label_tag(:duration_pref, "How much time would like to devote on the activities going to be suggested to you?") %>
     <%= form.select :duration_pref, ['15 min', '30 min','60 min']%>

  </div>
  

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
