<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @user_datum.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user_datum.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_datum.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_datum.gender %>
</p>

<p>
  <strong>Athletic lvl:</strong>
  <%= @user_datum.athletic_lvl %>
</p>

<p>
  <strong>Physical:</strong>
  <%= @user_datum.physical %>
</p>

<p>
  <strong>Mental:</strong>
  <%= @user_datum.mental %>
</p>

<p>
  <strong>Indoor Score:</strong>
  <%= @user_datum.indoor_score %>
</p>

<p>
  <strong>Outdoor Score:</strong>
  <%= @user_datum.outdoor_score %>
</p>
<p>
  <strong>Cardio Score:</strong>
  <%= @user_datum.cardio_score %>
</p>
<p>
  <strong>Strength Score:</strong>
  <%= @user_datum.strength_score %>
</p>
<p>
  <strong>Physicality Score:</strong>
  <%= @user_datum.physicality_score %>
</p>
<p>
  <strong>Mentality Score:</strong>
  <%= @user_datum.mentality_score %>
</p>
<p>
  <strong>Solo Score:</strong>
  <%= @user_datum.solo_score %>
</p>
<p>
  <strong>Team Score:</strong>
  <%= @user_datum.team_score %>
</p>
<p>
  <strong>Intensity Score:</strong>
  <%= @user_datum.intensity_score %>
</p>


<p>
  <strong>Frequency pref:</strong>
  <%= @user_datum.frequency_pref %>
</p>

<p>
  <strong>Duration pref:</strong>
  <%= @user_datum.duration_pref %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @user_datum.BMI %>
</p>

<%= link_to 'Edit', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Back', user_data_path %>
