<p id="notice"><%= notice %></p>

<h1>Daily Questionnaires</h1>

<table>
  <thead>
    <tr>
      <th>Dayofweek</th>
      <th>User mood</th>
      <th>Duration mins</th>
      <th>Indoor score</th>
      <th>Outdoor score</th>
      <th>Cardio score</th>
      <th>Strength score</th>
      <th>Physicality score</th>
      <th>Mentality score</th>
      <th>Solo score</th>
      <th>Team score</th>
      <th>Intensity score</th>
      <th>Duration score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_questionnaires.each do |daily_questionnaire| %>
      <tr>
        <td><%= daily_questionnaire.dayOfWeek %></td>
        <td><%= daily_questionnaire.user_mood %></td>
        <td><%= daily_questionnaire.duration_mins %></td>
        <td><%= daily_questionnaire.indoor_score %></td>
        <td><%= daily_questionnaire.outdoor_score %></td>
        <td><%= daily_questionnaire.cardio_score %></td>
        <td><%= daily_questionnaire.strength_score %></td>
        <td><%= daily_questionnaire.physicality_score %></td>
        <td><%= daily_questionnaire.mentality_score %></td>
        <td><%= daily_questionnaire.solo_score %></td>
        <td><%= daily_questionnaire.team_score %></td>
        <td><%= daily_questionnaire.intensity_score %></td>
        <td><%= daily_questionnaire.duration_score %></td>
        <td><%= link_to 'Show', daily_questionnaire %></td>
        <td><%= link_to 'Edit', edit_daily_questionnaire_path(daily_questionnaire) %></td>
        <td><%= link_to 'Destroy', daily_questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Questionnaire', new_daily_questionnaire_path %>
