<p id="notice"><%= notice %></p>

<p>
  <strong>Dayofweek:</strong>
  <%= @daily_questionnaire.dayOfWeek %>
</p>

<p>
  <strong>User mood:</strong>
  <%= @daily_questionnaire.user_mood %>
</p>

<p>
  <strong>Duration mins:</strong>
  <%= @daily_questionnaire.duration_mins %>
</p>

<p>
  <strong>Indoor score:</strong>
  <%= @daily_questionnaire.indoor_score %>
</p>

<p>
  <strong>Outdoor score:</strong>
  <%= @daily_questionnaire.outdoor_score %>
</p>

<p>
  <strong>Cardio score:</strong>
  <%= @daily_questionnaire.cardio_score %>
</p>

<p>
  <strong>Strength score:</strong>
  <%= @daily_questionnaire.strength_score %>
</p>

<p>
  <strong>Physicality score:</strong>
  <%= @daily_questionnaire.physicality_score %>
</p>

<p>
  <strong>Mentality score:</strong>
  <%= @daily_questionnaire.mentality_score %>
</p>

<p>
  <strong>Solo score:</strong>
  <%= @daily_questionnaire.solo_score %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @daily_questionnaire.team_score %>
</p>

<p>
  <strong>Intensity score:</strong>
  <%= @daily_questionnaire.intensity_score %>
</p>

<p>
  <strong>Duration score:</strong>
  <%= @daily_questionnaire.duration_score %>
</p>

<%= link_to 'Edit', edit_daily_questionnaire_path(@daily_questionnaire) %> |
<%= link_to 'Back', daily_questionnaires_path %>
