<%= form_with(model: user_feedback_questionnaire, local: true) do |form| %>
  <% if user_feedback_questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_feedback_questionnaire.errors.count, "error") %> prohibited this user_feedback_questionnaire from being saved:</h2>

      <ul>
      <% user_feedback_questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :questionnaireDate %>
    <%= form.date_select :questionnaireDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
